.calculator-container:focus {
    border: 10px dashed red;
}

.calculator-container {
    max-width: 375px;
    background-color:black;
    border: 3px solid pink;
    .calculator-display-area {
        color: white;
        font-size: 28px;
        text-align: center;
    }
    .calculator-top-flex-container {
        display: flex;
        justify-content: space-between;
        width: 252px;
        margin: 0 auto;
    }
    .calculator-middle-flex-container {
        width: 252px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        border: 1px solid blue;
    }
    .calculator-number-btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: orange;
        margin-bottom: 8px;
        span {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .calculator-number-btn:active {
        color: yellowgreen;
        outline: none;
        border: none;
        span {
            font-size: 23px;
        }
    }
    .calculator-arithmetic-operator {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: purple;
        margin-bottom: 8px;
        span {
            font-size: 20px;
            font-weight: bold;
        }
        .clear-text {
            font-size: 18px;
        }
    }
    .calculator-arithmetic-operator:focus {
        border: 10px dashed red;
    }
    .exponent-button {
        display: flex;
        justify-content: center;
        div {
            font-weight: bold;
        }
        div:first-of-type {
            font-size: 22px;
            margin-left: 5.5px;
        }
        div:nth-of-type(2) {
            transform: rotate(-1deg);
        }
    }
    .random-number-operator {
        span {
            font-size: 12px;
        }
    }
    .calculator-bottom-flex-container {
        display: flex;
        width: 252px;
        margin: 0 auto;
        justify-content: space-between;


    }
}